# 모든 파일 무시
*

# .gitignore 파일은 예외로 설정
!.gitignore

# 파일 예외
!*.py
!*.ipynb
!*.md

# 폴더 내부 파일 포함
!*/

# 폴더 내부 파일 포함
!**/*.py
!**/*.ipynb
!**/*.md

# other 폴더 내의 파일 무시
/other/*.py
/other/*.ipynb
/other/*.md
/other/**/*.py
/other/**/*.ipynb
/other/**/*.md
/DLthon/*.py
/DLthon/*.ipynb
/DLthon/*.md
/DLthon/**/*.py
/DLthon/**/*.ipynb
/DLthon/**/*.md

.idea/*